/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Variables */
:root {
  /* Fonts */
  --sans-serif: "Roboto", sans-serif;
  --sans-serif-alt: "Bebas Neue", cursive;

  /* Colors */
  --primary: #ffc451;
  /* --dark: #171717; */
  --dark: #040406;
  --dark-alt: #101010;
  --light: #ffffff;
  --light-alt: #fff2d2;

  /* Shadow */
  --shadow: 0px 4px 20px 0px #173c52;
}

/* Default */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var(--primary) transparent;
  scrollbar-width: thin;
}
*::selection {
  background: var(--primary);
  color: var(--dark);
}
::-webkit-scrollbar {
  width: 5px;
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  background: var(--dark);
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 100%;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 16px;
  font-weight: 300;
  color: var(--light-alt);
  line-height: 160%;
  letter-spacing: 0.5px;
}
p a {
  color: var(--primary);
  transition: 0.5s ease all;
}
p a:hover {
  color: var(--primary);
}
p b {
  font-weight: 600;
}

/* Background */
.bg-primary {
  background: var(--primary) !important;
}
.bg-light {
  background: var(--light) !important;
}
.bg-light-alt {
  background: var(--light-alt) !important;
}
.bg-dark {
  background: var(--dark) !important;
}
.bg-dark-alt {
  background: var(--dark-alt) !important;
}

/* Color */
.text-primary {
  color: var(--primary) !important;
}
.text-light {
  color: var(--light) !important;
}
.text-light-alt {
  color: var(--light-alt) !important;
}
.text-dark {
  color: var(--dark) !important;
}
.text-dark-alt {
  color: var(--dark-alt) !important;
}

/* Section */
.section {
  width: 100%;
  padding: 100px 0;
  background: var(--dark);
  position: relative;
  overflow: hidden;
}
.divider {
  margin: 100px 0;
  width: 100%;
  height: 1px;
  background: transparent;
  border: 0;
  border-top: 1px dashed var(--primary);
  outline: 0;
  opacity: 0.3;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1360px;
  }
}
.modal-backdrop.show {
  opacity: 0.9;
}

.button {
  padding: 10px 20px;
  background: var(--primary);
  border: 0;
  outline: 0;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s ease all;
  position: relative;
  overflow: hidden;
}
.button::after {
  content: "";
  background: var(--light);
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease all;
}
.button:hover::after {
  top: 0;
}
.button span {
  position: relative;
  z-index: 1;
  transition: 0.5s ease all;
}

.heading {
  font-size: 45px;
  font-family: var(--sans-serif-alt);
  color: var(--light);
}
.sub-heading {
  font-size: 25px;
  font-weight: 600;
  color: var(--primary);
}
